@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div>
    <label for="player1Color">Player 1 Color:</label>
    <input type="color" id="player1Color" @bind="player1Color" @bind:event="oninput" />
</div>
<div>
    <label for="player2Color">Player 2 Color:</label>
    <input type="color" id="player2Color" @bind="player2Color" @bind:event="oninput" />
</div>

<Board BoardColor="@System.Drawing.Color.Black"
       Player1Color="@System.Drawing.ColorTranslator.FromHtml(player1Color)"
       Player2Color="@System.Drawing.ColorTranslator.FromHtml(player2Color)" />

@code {
    private string player1Color = "#008000";
    private string player2Color = "#800080";
}
